<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>StartProject</servlet-name>
        <servlet-class>Controller.StartProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <servlet-class>Controller.ErrorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>Controller.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>Controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassVerify</servlet-name>
        <servlet-class>Controller.ForgotPassVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>Controller.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportReceiptServlet</servlet-name>
        <servlet-class>Controller.ImportReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImportReceipt</servlet-name>
        <servlet-class>Controller.AddImportReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemPhieuNhap</servlet-name>
        <servlet-class>Controller.ThemPhieuNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEmployeeList</servlet-name>
        <servlet-class>Controller.ShowEmployeeList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartProject</servlet-name>
        <url-pattern>/StartProject</url-pattern>
        <url-pattern>/SaleSphere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/ErrorPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassVerify</servlet-name>
        <url-pattern>/ForgotPassVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportReceiptServlet</servlet-name>
        <url-pattern>/ImportReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImportReceipt</servlet-name>
        <url-pattern>/AddImportReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemPhieuNhap</servlet-name>
        <url-pattern>/ThemPhieuNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEmployeeList</servlet-name>
        <url-pattern>/ShowEmployeeList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorPage</location>
    </error-page>
</web-app>
